@font-face {
    font-family: "YamaFont";
    src: url("../../Media/Font/yamafont.eot");
    src: url("../../Media/Font/yamafont.eot") format("embedded-opentype"),
         url("../../Media/Font/yamafont.ttf") format("truetype"),
         url("../../Media/Font/yamafont.woff") format("woff"),
         url("../../Media/Font/yamafont.woff2") format("woff2");
}

:root {
    --accent-colour: rgb(210, 199, 150);
    --main-colour: rgb(228, 213, 193);
}

body {
    background-color: var(--main-colour);
    overflow: hidden;

    max-width: 100%;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.main-container {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
    transform: translate(-50%, -50%);
    transform-style: preserve-3d;

    background-color: var(--accent-colour);
    border-radius: 20px;
    width: 25%;
    min-width: 2.5em;
    height: 25%;
    margin: 0 auto;


    font-family: "YamaFont", sans-serif;
    font-weight: bold;
    font-size: 11em;
    text-align: center;

    cursor: pointer;
}

.main-container div {
    width: 100%;
    height: 100%;

    -webkit-backface-visibility: hidden;
    position: absolute;
}

#yes {
    transform: rotateX(-180deg);
    color: #1bce1b;
}

#no {
    transform: rotateZ(0deg);
    z-index: 1;
    color: #ff0000;
}
span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}


@keyframes flip-no {
    from {
        transform: translate(-50%, -50%) rotateX(0);
    }
    to {
        transform: translate(-50%, -50%) rotateX(3600deg);
    }
}
@keyframes flip-yes {
    from {
        transform: translate(-50%, -50%) rotateX(0);
    }
    to {
        transform: translate(-50%, -50%) rotateX(3780deg);
    }
}

.flip-yes {
    animation: ease-in-out flip-yes 4s forwards;
}

.flip-no {
    animation: ease-in-out flip-no 4s forwards;
}



#landing {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;

    width: 100%;
    height: 100%;

    font-size: 0.5em;
}
